* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

user-card {
    padding: 10px;
}

