* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

user-card {
    padding: 10px;
}

.user-name-style {
    font-weight: bold;
    color: blue;
}

.user-email-style {
    font-style: italic;
    color: gray;
}

.user-age-style {
    color: orange;
    font-weight: 600;
}

.user-bio-style {
    color: #555;
    font-size: 0.9em;
}

